<div class="page">
    <div class="container rounded-none lg:rounded-lg min-h-screen lg:min-h-auto">
    <h1>תהילים לרפואת האדמו"ר מוזיניץ שליט"א</h1>
    <p class="subtitle">אנא קראו את הפרקים מתוך פרק קי"ט לרפואתו השלמה</p>
    
    <p-stepper [(value)]="activeIndex" class="basis-[50rem] steps">
        <p-step-list style="flex-wrap: wrap; justify-content: center;">
            @for (item of therabbiName; track $index) {
            <p-step [value]="$index" style="flex: none;">
                <ng-template #content let-activateCallback="activateCallback" let-value="value" >
                <div
                (click)="setIndex($index)"
                [ngClass]="{
                    'active': value <= activeIndex,
                    'not-active': value > activeIndex
                }">
                    {{item}}
            </div>
                </ng-template>
            </p-step>
        }
        </p-step-list>
        <p-step-panels>
            </p-step-panels>
    </p-stepper>
    
    <div class="tehillim">
        <p style="text-align: justify;" class="text-xl lg:text-2xl leading-10">{{theilim[activeIndex]}}</p>
        <div class="nav-btn">
            <p-button  severity="contrast" [style]="{'font-weight': 'bold'}" (click)="prev()">→ הקודם</p-button>
            <p-button severity="contrast" [style]="{'font-weight': 'bold'}" (click)="next()">הבא ←</p-button>
        </div>
    </div>
    <div class="flex justify-center">
        <p [innerHTML]="footer" class="pt-5 lg:w-1/2"></p>
    </div>
</div>
</div>